<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ullam obcaecati similique nesciunt
            voluptatum, maiores nulla blanditiis, neque exercitationem unde omnis earum quis eligendi, voluptas ducimus
            accusamus explicabo consequatur consequuntur.</p>
    </div>
</section>