<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App en Node.js y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusantium sit reprehenderit
        eveniet, atque, ullam voluptate veniam laudantium fugit labore enim cupiditate. Vitae suscipit debitis commodi
        quibusdam ea, iure ex!</p>
    <!-- 'my: margin en eje Y, espaciado de 4 arriba y abajo-->
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, quis debitis sunt quae fugit ut incidunt
        labore earum quia perferendis consectetur accusamus mollitia sit expedita modi et ea dolores voluptate!</p>
</div>